src/main/resources/com/unique/bullet/config/bullet-1.0.xsd

<xsd:schema xmlns="http://www.unique.com/schema/bullet"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.unique.com/schema/bullet"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            version="1.0.0">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:element name="publish" type="publishType"/>
    <xsd:element name="protocol" type="protocolType"/>
    <xsd:element name="listener" type="listenerType"/>

    <xsd:complexType name="protocolType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The protocol name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="addresses" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
	List of addresses; e.g. host1:9876,host2:9876 - overrides host/port if supplied.
					]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="host" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
	Hostname to connect to broker.  Default is "localhost".
					]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
	Port number to connect to broker.  Default is 5672.
					]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="username" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
	Username to connect to broker.  Default is "guest".
					]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="password" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
	Password to connect to broker.  Default is "guest".
					]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sysgroup" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The protocol group. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sendMsgTimeout" use="optional" type="xsd:int"/>
        <xsd:attribute name="permits-size" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="1" />
                    <xsd:maxInclusive value="65535"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="publishType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence maxOccurs="1" minOccurs="0">
                    <xsd:element name="filter-prop" type="beans:mapType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[the message property value.]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>

                <xsd:attribute name="interface" type="xsd:token" use="required">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <tool:annotation>
                                <tool:expected-type type="java.lang.Class"/>
                            </tool:annotation>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ttl" type="xsd:long" use="optional" default="-1"/>
                <xsd:attribute name="routingKey" type="xsd:string"
                               use="optional"/>
                <xsd:attribute name="protocol" type="xsd:string" use="optional"/>
                <xsd:attribute name="destination" type="xsd:string" use="required"/>
                <xsd:attribute name="timeout" type="xsd:string" use="optional"/>
                <xsd:attribute name="connection" type="xsd:string" use="required"/>
                <xsd:attribute name="codec" use="optional">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="jdk"/>
                            <xsd:enumeration value="fst"/>
                            <xsd:enumeration value="hessian"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="send-mode" use="optional">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="SYNC"/>
                            <xsd:enumeration value="ASYNC"/>
                            <xsd:enumeration value="ONEWAY"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="delayTimeLevel" use="optional" default="0" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>
                            <![CDATA[messageDelayLevel=1s 5s 10s 30s 1m 2m 3m 4m 5m 6m 7m 8m 9m 10m 20m 30m 1h 2h;delayTimeLevel=3,表示延时10s]]>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="sendCallback" use="optional" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            <![CDATA[当send-mode=ASYNC有效，用于通知消息发送状态]]>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="listener-container">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="listenerContainerBaseType">
                    <xsd:sequence>
                        <xsd:element name="listener" type="listenerType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="connection-factory" type="xsd:string"/>
                    <xsd:attribute name="message-model" use="required">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="CLUSTERING"/>
                                <xsd:enumeration value="BROADCASTING"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="group" type="xsd:string" use="required"/>
                    <xsd:attribute name="addresses" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[List of addresses; e.g. host1:9876,host2:9876 - overrides host/port if supplied.]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="maxReconsumeTimes" use="optional">
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation><![CDATA[If messages are re-consumed more than {@link #maxReconsumeTimes} before success, it's be directed to a deletion queue waiting]]></xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="xsd:int">
                                <xsd:minInclusive value="0" />
                                <xsd:maxInclusive value="16"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="listenerType">
        <xsd:attribute name="id" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[The unique identifier for this listener.]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="interface" type="xsd:string" use="required"/>

        <xsd:attribute name="ref" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:appinfo>
                    <tool:annotation kind="ref"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="destination" type="xsd:string" use="required"/>
        <xsd:attribute name="routingKey" type="xsd:string" use="optional"/>
        <xsd:attribute name="selector" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="listenerContainerBaseType">
        <xsd:attribute name="id" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[Optional bean id for the container.]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>